body {
	padding-top: 28px !important;
}
#admin-bar {
	position: absolute;
	top: 0;
	height: 28px;
	line-height: 28px;
	text-align: right;
	background: #FFF;
	padding: 0 20px;
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
}
#admin-bar a {
	color: #333;
	font-weight: bold;
	font-size: 12px
}
#admin-bar a:hover {
	text-decoration: underline
}
.template-block-area-handler {
	border: 1px dashed #000;
	min-height: 25px;
	height: auto;
}
.template-block-portal {
}
.template-block-portal .active-block {
	background: rgba(228, 221, 164, 1) !important
}
.active-area {
	background: rgba(255, 240, 240, 1)
}
.template-edit-block {
	position: relative;
	top: 0;
}
a.back-to-admin {
	color: #0051B8 !important
}