@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline
}
/* global box-sizing */
*,
*:after,
*efore {
    box-sizingorder-box;
    -webkit-box-sizingorder-box;
    -moz-box-sizingorder-box;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}
/* Clearing */
.clearefore,
.clear:after {
content: '';
display: table;
}

.clear:after {
clear: both;
}
.clearfix:after {
	clear: both;
	content: "?020";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden
}
textarea, input[type="text"] {
	border-color: #999 #CCC #CCC #999;
	font-family: Arial, Helvetica, sans-serif;
	background-image: none;
	display: block;
	height: 26px;
	padding: 6px 8px;
	font-size: 12px;
	line-height: 16px;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
textarea:focus, input[type="text"]:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input[type="button"], input[type="submit"], .button, a.button:link, a.button:visited {
	padding: 3px 0.6em;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.4) inset;
	background-color: #333;
	color: #fff;
	border: 1px solid #000!important;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer
;
	margin-top: 0px;
}
label {
	line-height: 26px;
	margin-right: 10px;
	font-weight: bold;
}

body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
:focus {
	outline: 0
}
del {
	color: #666;
	text-decoration: line-through
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 4px;
	width: 100%
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0
}

a:focus, a:hover {
	color: #000
}
blockquote {
	color: #666;
	font-style: italic;
	margin: 1.5em
}
strong, dfn, dl dt, th {
	font-weight: 700
}
em, dfn, tfoot {
	font-style: italic
}
sup, sub {
	line-height: 0
}
abbr, acronym {
	border-bottom: 1px dotted #666
}
address {
	font-style: italic;
	margin: 0 0 1.5em
}
pre {
	margin: 1.5em 0;
	white-space: pre
}
pre, code, tt {
	font: 1em 'andale mono', 'lucida console', monospace;
	line-height: 1.5
}

ins, a, ins {
	text-decoration: none
}
ul {
	list-style: none
}
 @-webkit-keyframes fadeInFromNone {
 0% {
 display:none;
 opacity: 0;
}
 1% {
 display: block;
 opacity: 0;
}
 100% {
 display: block;
 opacity: 1;
}
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 16px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.clearfix {
 *zoom: 1;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clear {
	clear: both
}
a, a.info:hover {
	color: #333;
}
a:hover {
	color: rgb(44, 142, 67);}
a.info {
	color: rgb(44, 142, 67);
}
.sidebar {
	min-height: 500px;
}
ul {
	margin: 0;
	padding: 0
}
.fr {
	float: right
}
.fl {
	float: left
}
.fixed {
	position: fixed
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}
.pagination > li {
	display: inline;
}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background-color: #eeeeee;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	color: #ffffff;
	cursor: default;
	background-color: rgb(44, 142, 67);
	border-color: rgb(44, 129, 73);
}
.pagination-sm > li > a, .pagination-sm > li > span {
	padding: 5px 10px;
	font-size: 12px;
}
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.clearfix {
 *zoom: 1;
}

a.more {
	color: #600;
}
hr {
	padding: 22px 0;
	background: transparent url(../images/line.png) repeat-x bottom left;
	border: none
}
body {
	color: black;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/bg.png) whitesmoke;
	line-height: 18px;
}
.main-width {
	width: 980px;
	margin: 0 auto
}
header#header {
	height: 150px;
	position: relative;
	z-index: 99;
	background-color: rgb(54, 183, 79);
}
#header nav#top-nav {
	margin: 0 auto;
	height: 30px;
	overflow: hidden;
	background: rgba(17, 17, 17, .3);
	position: relative;
	z-index: 100;
}
ul.top-menu {
}
ul.top-menu li {
	display: inline-block
}
ul.top-menu li a {
	color: #FFF;
	padding: 9px 10px;
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
}
ul.top-menu li a:hover {
	color: #CF0
}
ul.main-menu {
	width: 980px;
	bottom: 0;
	height: 40px;
	background: rgb(44, 142, 67);
	z-index: 99999;
	/* position: absolute; */
	font-size: 12px;
	line-height: 12px;
	margin-top: 80px;
}
ul.main-menu li {
	/* display: inline-block
 */
	float: left;
}
ul.main-menu li a {
	color: #FFF;
	font-weight: bold;
	display: block;
	padding: 14px 20px;
	border-right: 1px solid rgb(44, 129, 73);
}
ul.main-menu li.active a {
	background: #333;
}
ul.main-menu li:hover {
	background: rgb(44, 129, 73);
}
ul.sub-menu {
	background: rgb(44, 129, 73);
	position: absolute;
	margin: 0;
	width: 120px;
	display: none;
	margin-left: -1px;
}
ul.sub-menu li {
	width: 100%;
}
ul.sub-menu li a {
	border-right: none;
	border-bottom: 1px solid rgb(160, 197, 173);
	padding: 14px 10px;
}
ul.main-menu li:hover > ul.sub-menu {
	display: block;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: fadeInFromNone;
}
ul.sub-menu ul.sub-menu {
	left: 120px;
	margin-top: -41px;
}
/********* #0 Main content ********/
#vnp-main {
	margin: 15px auto;
}
.sidebar {
	width: 260px;
	float: right;
	margin: 15px 0;
}
.main-content {
	width: 705px;
	height: auto;
	float: left;
}
.list-news article {
	padding: 22px 0;
	background: transparent url(../images/line.png) repeat-x bottom left;
}
.ct-latest-thumb {
	float: left;
	margin: 0 10px 10px 0;
}
.ct-latest-thumb a {
	display: block;
	width: 105px;
	height: 105px;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
}
.ct-latest-thumb a img {
	width: 105px;
	height: 105px;
	display: block;
}
.ct-latest h2 {
	font-size: 24px;
	line-height: 30px;
	padding: 0px;
}
article .ct-subline {
	padding: 2px 0;
	color: #999999;
	font-size: 11px;
	line-height: 20px;
}
.ct-feat-excerpt {
	line-height: 20px;
	font-size: 14px;
}
article.post-content {
	text-align: justify;
}
article.post-content img {
	max-width: 600px;
	margin: 10px 0
}
h1.post-title {
	margin-bottom: 15px
}

/************ #1: comment form **************/
.cmt-user-info {
	float: left
}
.cmt-form {
	width: 100%;
}
#comment-info {
	/* width: 645px; */
	/* float: right; */
	width: 100%;
	padding-left: 75px;
}
.cmt-form textarea {
	width: 100%;
	height: 60px;
	margin-bottom: 5px;}

.ct-footer {
	position: relative;
	width: 100%;
	bottom: 0px;
	padding: 40px 0;
	background: rgb(44, 142, 67);
	height: 150px
}
.author-info {
	background: #CCC;

	padding: 5px 5px;
}
.author-info input[type="text"] {
	width: 190px;
	margin-right: 10px;
	margin-bottom: 5px;
}
ul.list-comment {
	margin-top: 15px;
}
ul.list-comment li {
	padding: 22px 0;
	background: transparent url(../images/line.png) repeat-x top left;
	padding-top: 10px;
	padding-bottom: 10px;
}
ul.list-comment li.sub-comment
{
	background: #F5F5F5;
	border-top: 1px solid #FFF;
}
.list-comment .comment-author {
	float: left;
	width: 100px;
	font-size: 13px;
	border: 1px solid #CCC;
	text-align: center;
	padding: 10px 0;
	background: rgba(38, 189, 0, 0.1);
}
.list-comment .comment-author img {
	margin-bottom: 5px;
}
.list-comment .comment-content {
	/* float: left; */
	width: 100%;
	padding-left: 110px;
}
a.reply-comment {
	color: rgb(44, 142, 67)
}
a.reply-comment:hover {
	text-decoration: underline
}
.reply-form {
	padding-left: 50px;
}
.design-mod {
	height: 28px;
	background: #CACACA;
	display: block;
	width: 39px;
	text-align: center;
	float: left;
	text-transform: capitalize;
}

/********** Block style ************/
.block-portal {
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom-color: rgba(0, 0, 0, 0.2);
	padding-bottom: 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #D2D2D2 url(../images/block-bg.png) 0 100% repeat-x;
	background-clip: padding-box;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-o-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-khtml-background-clip: padding-box;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-khtml-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	clear: right;
	overflow: hidden;
	display: block;
	margin-bottom: 25px;
}
h3.block-title {
	margin: -15px !important;
	margin-bottom: 15px !important;
	font-size: 18px;
	font-family: Oswald, arial, Georgia, serif;
	text-transform: capitalize;
	line-height: 1;
	padding: 12px 15px;
	display: block;
	background: #F5F5F5;
	color: #444;
	text-shadow: #FFF 0 1px 0px;
	box-shadow: inset 0 0 0 1px white;
	-moz-box-shadow: inset 0 0 0 1px white;
	-webkit-box-shadow: inset 0 0 0 1px white;
	-o-box-shadow: inset 0 0 0 1px white;
	-ms-box-shadow: inset 0 0 0 1px white;
	-khtml-box-shadow: inset 0 0 0 1px white;
	border-bottom: 1px #EEE solid;
}
.block-content {
	padding: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: white;
	box-shadow: inset 0 0 0 1px white;
	-moz-box-shadow: inset 0 0 0 1px white;
	-webkit-box-shadow: inset 0 0 0 1px white;
	-o-box-shadow: inset 0 0 0 1px white;
	-ms-box-shadow: inset 0 0 0 1px white;
	-khtml-box-shadow: inset 0 0 0 1px white;
	display: block;
	overflow: hidden;
}